body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.inner-page {
  background-image: url("../img/bg_top_catalog.jpg");
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  /* background-image: url("../img/bg_top_index.jpg");
  background-position: top center;
  background-repeat: no-repeat; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
  padding: 0 71px;
  background-color: #fff;
}

.header-menu {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  min-height: 56px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-menu__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 45.75%;
  padding-top: 14px;
}

.header-menu__list li {
  width: 50%;
}

.header-menu__right {
  text-align: right;
}

.header-menu__list a {
  color: #000000;
}

.header-menu__list a:hover,
.header-menu__list a:focus {
  color: #81b3d2;
}

.header-menu__list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.logo-link {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main {
  color: #000000;
}

.main-pic-top {
  background-image: url("../img/bg_top_index.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  height: 508px;
}

.main-pic-top::before {
  content: "";
  position: absolute;
  width: 459px;
  height: 353px;
  top: 132px;
  left: 455px;
  background-image: url("../img/intro-welcome.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.main-pic-top::after {
  content: "";
  position: absolute;
  width: 1201px;
  height: 59px;
  top: 507px;
  left: 84px;
  background-image: url(../img/intro-mask.svg);
}

.explanation {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  background-color: #fff;
  text-align: center;
  padding: 59px 380px;
  padding-bottom: 0;
}

.reasons {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  text-align: center;
  background-color: #fff;
  padding-top: 28px;
  padding-bottom: 51px;
}

.reason-1__sec {
  display: flex;
}

.reason-1,
.reason-2 {
  background-color: #81b3d2;
  width: 400px;
  height: 256px;
  display: flex;
  flex-direction: column;
}

.reason-1__pic {
  background-image: url(../img/real_town.jpg);
  height: 256px;
  width: 800px;
}

.advantages-title,
.properties-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
}

.advantages-title {
  text-align: center;
  padding: 0 139px;
  padding-top: 47px;
}

.properties-list {
  background-color: #ffffff;
  color: #000000;
  display: flex;
}

.properties-text {
  color: #333333;
  margin: 0;
  width: 290px;
  padding-top: 24px;
  text-align: center;
}

.properties-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.properties-title {
  align-items: center;
  padding-top: 161px;
}

.reason-3-5 {
  background-color: #eeeeee;
  color: #000000
}

.advantages-number,
.advantages-text {
  color: #333333;
}

.advantages-number {
  text-align: center;
  padding-top: 24px;
}

.advantages-text {
  margin: 0;
  text-align: center;
  padding: 21px 60px;
}

.color__white {
  color: #ffffff;
}

.color__gray {
  color: #333333;
}

.color__black {
  color: #000000;
}

.interested {
  background-color: #ffffff;
  color: #000000;
}

.interested-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.interested-text {
  line-height: 24px;
}

.hotel__search {
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
}

.main-footer {
  background-color: rgba(254, 254, 254, 0.9);
}

.tag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.main-footer ul {
  list-style: none;
  text-align: center;
}

.modal {
  color: #000000;
  background-color: #ffffff;
}

.form_label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.form_input {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}










.catalog-list {
  list-style: none;
}

.hotel-name {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-item__btns a {
  color: #ffffff;
}

.detailed__btn {
  background-color: #81b3d2;
}

.reserve__btn {
  background-color: #766357;
}

.rating {
  color: #666666;
  background-color: #f2f2f2;
}
