body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
  padding: 0 71px;
  background-color: #fff;
}

.header-menu {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  min-height: 56px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-menu__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 45.75%;
  padding-top: 14px;
}

.header-menu__list li {
  width: 50%;
}

.header-menu__right {
  text-align: right;
}

.header-menu__map {
  letter-spacing: 0.5px;
}

.header-menu__list a {
  color: #000000;
}

.header-menu__list .header-menu__active {
  color: #766357;
}

.header-menu__list a:hover,
.header-menu__list a:focus {
  color: #81b3d2;
}

.header-menu__list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.logo-link {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.main {
  color: #000000;
}

.main-pic-top {
  background-image: url("../img/bg_top_index.jpg");
  background-position: 0 -56px;
  background-repeat: no-repeat;
  height: 508px;
  position: relative;
}

.main-pic-top::before {
  content: "";
  position: absolute;
  width: 459px;
  height: 353px;
  top: 76px;
  left: 370px;
  background-image: url("../img/intro-welcome.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.main-pic-top::after {
  content: "";
  position: absolute;
  width: 1200px;
  height: 59px;
  top: 451px;
  background-image: url(../img/intro-mask.svg);
}

.explanation {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  background-color: #fff;
  text-align: center;
  padding: 59px 380px;
  padding-bottom: 0;
}

.reasons {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  text-align: center;
  background-color: #fff;
  padding-top: 28px;
  padding-bottom: 51px;
}

.reason-1__sec {
  display: flex;
}

.reason-1,
.reason-2 {
  background-color: #81b3d2;
  width: 400px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reason-1__pic {
  background-image: url(../img/real_town.jpg);
  height: 256px;
  width: 800px;
}

.reason-2__sec {
  display: flex;
}

.reason-2__pic {
  background-image: url(../img/canyon.jpg);
  height: 256px;
  width: 800px;
}

.advantages-title,
.properties-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
}

.advantages-title {
  text-align: center;
  padding-top: 47px;
  width: 151px;
}

.properties-list {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  min-height: 330px;
}

.properties-text {
  color: #333333;
  margin: 0;
  width: 290px;
  padding-top: 24px;
  text-align: center;
}

.properties-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.properties-1 {
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  position: relative;
  background-position: 50% 23%;
}

.properties-2 {
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  position: relative;
  background-position: 50% 23%;
}

.properties-3 {
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  position: relative;
  background-position: 50% 23%;
}

.properties-title {
  align-items: center;
  padding-top: 161px;
}

.reason-3-5 {
  background-color: #eeeeee;
  color: #000000;
  display: flex;
  min-height: 256px;
}

.reason-3-5__formatting {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.reason-3-5__formatting p {
  width: 261px;
}

.reason-5 p {
  width: 250px;
}

.advantages-number,
.advantages-text {
  color: #333333;
}

.advantages-number {
  text-align: center;
  padding-top: 24px;
}

.advantages-text {
  margin: 0;
  text-align: center;
  padding-top: 21px;
  width: 305px;
}

.color__white {
  color: #ffffff;
}

.color__gray {
  color: #333333;
}

.color__black {
  color: #000000;
}

.interested {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interested-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  padding-top: 50px;
}

.interested-text {
  line-height: 24px;
  margin: 0;
  padding-top: 24px;
  width: 442px;
  text-align: center;
}

.hotel__search {
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 47px;
  padding: 30px 139px;
}

.hotel__search:hover,
.hotel__search:focus {
  background-color: #604e43;
}

.hotel__search:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.index-map {
  background-image: url(../img/map.jpg);
  height: 592px;
}

.main-footer {
  background-color: rgba(254, 254, 254, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0px;
  height: 120px;
  width: 100%;
}

.tag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-left: 132px;
}

.main-footer ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  padding-left: 27px;
}

.fb-btn {
  margin: 0 6px;
}

.main-footer a {
  display: flex;
  align-items: center;
}

.web_by {
  margin-right: 100px;
}

.web_by span {
  padding-right: 9px;
  color: #000;
}

.web_by:hover svg path,
.web_by:focus svg path {
  fill: #81b3d2;
}

.web_by:active svg path {
  fill: #bdbbbc;
}

.social-button {
  background-color: #81b3d2;
  justify-content: center;
  width: 46px;
  height: 48px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active img {
  opacity: 0.3;
}

.social-button:active svg path {
  fill: rgba(255, 255, 255, 0.3);
}

.modal {
  color: #000000;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 2169px;
  transform: translateX(-50%);
}

.search-form {
  padding: 55px;
  width: 458px;
  display: flex;
  flex-direction: column;
}

.form_label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.form-option {
  letter-spacing: 0.3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 29px;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.form-option input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  width: 346px;
  box-sizing: border-box;
  border: none;
  padding: 6px;
  padding-left: 13px;
  background-image: url(../img/calendar.svg);
  background-position: 316px center;
  background-repeat: no-repeat;
  height: 38px;
}

.form-option input:hover {
  background-color: #ebebeb;
  background-image: url(../img/calendar_hover.svg);
}

.form-option input:focus {
  background-color: #fff;
  outline: 2px solid #e5e5e5;
  margin: 0;
  background-image: url(../img/calendar_active.svg);
}

.modal-arrival .form-option {
  margin-top: 0;
}

.age-people {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.age_input {
  font-weight: 700;
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  padding: 0;
  text-align: center;
}

.num_adults,
.num_childrens {
  display: flex;
  align-items: center;
}

.num_adults .form_label,
.num_childrens .form_label {
  margin: 0;
  margin-right: 37px;
}

.num_childrens .form_label {
  margin-right: 26px;
}

.num_btn {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  border: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #a9a9a9;
  background-color: #f2f2f2;
  font-size: 25px;
}

.modal-button {
  border: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 58px;
  margin-top: 54px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: #81b3d2;
  color: #fff;
  text-transform: uppercase;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #669ec0;
}

.modal-button:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.filters {
  background-image: url(../img/bg_top_catalog.jpg);
  min-height: 217px;
  background-position: 0 -56px;
}

.filter {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
  padding-left: 71px;
  padding-right: 72px;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter legend {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.filter-infrastructure legend {
  letter-spacing: 0.2px;
}

.filter-option {
  margin-bottom: 25px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input__checkbox+label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  left: -40px;
  top: 0;
}

.filter-input__checkbox:checked+label::before {
  width: 27px;
  background-image: url(../img/checkbox-on.svg);
}

.filter-housing legend {
  padding-right: 278px;
}

.filter ul {
  list-style: none;
  color: #fff;
  margin: 25px 0;
  padding-left: 40px;
}

.filter-housing .filter-list {
  padding-left: 42px;
}

.filter-range {
  width: 317px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  height: 32px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
  position: relative;
}

.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  position: absolute;
  top: -9px;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 84px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 31px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 56px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.sorting {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 29px 72px;
}

.sorting p {
  margin: 0;
  padding: 0;
}

.sorting-nums {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.sorting .sorting-title {
  color: #000;
  font-size: 12px;
  line-height: 18px;
  margin-right: auto;
  margin-left: 47px;
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-right: 491px;
}

.sorting-item {
  margin-left: 33px;
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  font-size: 12px;
  line-height: 18px;
}

.sorting-item .sorting__active {
  color: #81b3d2;
  border: none;
}

.sorting-item:hover a,
.sorting-item:focus a {
  color: #81b3d2;
  border-color: #81b3d2;
}

.direction-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.direction-item {
  margin-left: 13px;
}

.catalog-list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  padding: 0;
  padding-bottom: 120px;
}

.catalog-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 72px;
  padding-top: 25px;
  padding-bottom: 24px;
}

.catalog-item__info {
  margin-right: auto;
  margin-left: 31px;
}

.catalog-item__img {
  padding-top: 5px;
}

.catalog-item__img {
  margin: 0;
}

.catalog-item__text {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin-top: 7px;
  margin-bottom: 17px;
}

.catalog-item__text p {
  margin: 0;
  padding: 0;
}

.hotel-name {
  margin: 0;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  color: #000;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item__btns a {
  color: #ffffff;
  padding-top: 4px;
  padding-left: 15px;
  padding-right: 17px;
  padding-bottom: 5px;
  font-weight: 700;
}

.catalog-item__right {
  display: flex;
  flex-direction: column;
}

.detailed__btn {
  background-color: #81b3d2;
  margin-right: 3px;
}

.detailed__btn:hover,
.detailed__btn:focus {
  background-color: #669ec0;
}

.detailed__btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}

.reserve__btn {
  background-color: #766357;
  padding-left: 17px;
  letter-spacing: 0.1px;
  padding-right: 16px;
}

.reserve__btn:hover,
.reserve__btn:focus {
  background-color: #604e43;
}

.reserve__btn:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3)
}

.stars {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 4px;
  justify-content: flex-end;
}

.stars li {
  background-image: url(../img/star.svg);
  width: 18px;
  height: 17px;
  margin-left: 6px;
}

.rating {
  color: #666666;
  background-color: #f2f2f2;
  margin-top: 47px;
  margin-bottom: 0;
  padding-right: 13px;
  padding-left: 15px;
  padding-bottom: 3px;
  padding-top: 3px;
}
